<app-header [title]="'Bienvenido'"></app-header>

<ion-content [fullscreen]="true">
  <div class="fastAccessUsersList">
    <ion-button class="ionTopTag secondaryInput" (click)="this.changeFastAccessUserSelected(0)">Admin</ion-button>
    <ion-button class="ionBetweenTag primaryInput" (click)="this.changeFastAccessUserSelected(1)">Invitado</ion-button>
    <ion-button class="ionBetweenTag secondaryInput" (click)="this.changeFastAccessUserSelected(2)">Usuario</ion-button>
    <ion-button class="ionBetweenTag primaryInput" (click)="this.changeFastAccessUserSelected(3)">Anonimo</ion-button>
    <ion-button class="ionBottomTag secondaryInput" (click)="this.changeFastAccessUserSelected(4)">Tester</ion-button>
  </div>

  <section class="center">
    
    <section class="iconContainer">
      <img class="imgIcon" src="../../../../assets/splashArt/MyAlarm_NoBack.png">
    </section>
    <h1>Mi alarma</h1>

    <div class="logForm">
      <app-access-data-form [fastUser]="this.fastAccessUserSelected"></app-access-data-form>
    </div>
  </section>
</ion-content>